<div class="todo-container">
  <div class="todo-header">
    <span>Todo List</span>
  </div>

  <div class="todo-items-container">
    <div class="todo-item" *ngFor="let item of items">
      <div class="item">
        <input class="checkbox" type="checkbox" checked disabled>
        <span>{{item.value}}</span>
      </div>
      <div class="delete-item-button">Delete</div>
    </div>
  </div>

  <div class="todo-add-item-container">
    <input type="text" [(ngModel)]="newItem.value" placeholder="Add Todo">
    <div class="add-item-button">
      <span>Add</span>
    </div>
  </div>

  <div class="todo-footer">
    <div class="clear-button">
      <span>Clear all</span>
    </div>
  </div>
</div>