/* You can add global styles to this file, and also import other style files */
html,
body,
app-root{
    height: 100%;
    width: 100%;
    margin: 0;
    display: flex;
    flex: 1;
    background: linear-gradient(.25turn, #e68073, #f7bfb5);
}

app-root{
    justify-content: center;
    align-items: center;
}